	.DS_Store
	.localized
	Archive.zip
	Career Presentation.pptx
	Chandler's Febuar 2018 Resume.indd
	Ember/
	Febuary 2018 Resume.pdf
	IMG_2032.JPG
	IMG_2033.JPG
	Learn Ruby/
	LrnC/
	Oct. 2017 cover letter.docx
	PIA19807_hires.jpg
	Photo on 4-17-17 at 5.02 PM.jpg
	Screen Shot 2018-04-22 at 6.31.37 PM.png
	Screen Shot 2018-06-03 at 1.40.55 AM.png
	Screen Shot 2018-06-07 at 1.29.10 PM.png
	Screen Shot 2018-06-07 at 1.56.15 AM.png
	Screen Shot 2018-06-07 at 12.15.35 AM.png
	Screen Shot 2018-06-07 at 2.10.09 AM.png
	Screen Shot 2018-06-07 at 2.10.24 AM.png
	Screen Shot 2018-06-08 at 3.44.13 AM.png
	Screen Shot 2018-06-08 at 3.45.04 AM.png
	"The Data Scientist\342\200\231s Toolbox - Home _ Coursera.pdf"
	chanj1@moat.cis.uab.edu
	tumblr_inline_mn5xk00kmg1qz4rgp.gif
	virtualMachine/
